
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	clip-path: polygon(0 0, 0 0, 0 0);
}

// variable
:root {
    --top: 0px;
    --bottom: 0px;
    --left: 0px;
    --right: 0px;
}

@supports (padding-top: env(safe-area-inset-top)){
    :root {
        --top: env(safe-area-inset-top);
        --bottom: env(safe-area-inset-bottom);
        --left: env(safe-area-inset-left);
        --right: env(safe-area-inset-right);
    }
}
@supports (padding-top: constant(safe-area-inset-top)){
    :root {
        --top: constant(safe-area-inset-top);
        --bottom: constant(safe-area-inset-bottom);
        --left: constant(safe-area-inset-left);
        --right: constant(safe-area-inset-right);
    }
}

@media (prefers-color-scheme: light) {
	.cl-b {
		color: #000;
	}
	.cl-b-80 {
		color: rgba($color: #000000, $alpha: .8);
	}
	.cl-b-60 {
		color: rgba($color: #000000, $alpha: .6);
	}
	.cl-b-40 {
		color: rgba($color: #000000, $alpha: .4);
	}
	.cl-b-20 {
		color: rgba($color: #000000, $alpha: .2);
	}
	.cl-w {
		color: #fff;
	}
	.cl-w-80 {
		color: rgba($color: #fff, $alpha: .8);
	}
	.cl-w-60 {
		color: rgba($color: #fff, $alpha: .6);
	}
	.cl-w-40 {
		color: rgba($color: #fff, $alpha: .4);
	}
	.cl-w-20 {
		color: rgba($color: #fff, $alpha: .2);
	}
	.cl-gray-80 {
		color: #333333;
	}
	.cl-gray-60 {
		color: #666666;
	}
	.cl-gray-40 {
		color: #999999;
	}
	.cl-gray-20 {
		color: #cccccc;
	}
	
	.bg-normal {
		background-color: #fff;
	}

	.bg-b {
		background-color: #000;
	}
	.bg-b-80 {
		background-color: rgba($color: #000000, $alpha: .8);
	}
	.bg-b-60 {
		background-color: rgba($color: #000000, $alpha: .6);
	}
	.bg-b-40 {
		background-color: rgba($color: #000000, $alpha: .4);
	}
	.bg-b-20 {
		background-color: rgba($color: #000000, $alpha: .2);
	}
	.bg-w {
		background-color: #fff;
	}
	.bg-w-80 {
		background-color: rgba($color: #fff, $alpha: .8);
	}
	.bg-w-60 {
		background-color: rgba($color: #fff, $alpha: .6);
	}
	.bg-w-40 {
		background-color: rgba($color: #fff, $alpha: .4);
	}
	.bg-w-20 {
		background-color: rgba($color: #fff, $alpha: .2);
	}
	.bg-gray-80 {
		background-color: #333333;
	}
	.bg-gray-60 {
		background-color: #666666;
	}
	.bg-gray-40 {
		background-color: #999999;
	}
	.bg-gray-20 {
		background-color: #cccccc;
	}
}

@media (prefers-color-scheme: dark) {
	.cl-b {
		color: #fff;
	}
	.cl-b-80 {
		color: rgba($color: #fff, $alpha: .8);
	}
	.cl-b-60 {
		color: rgba($color: #fff, $alpha: .6);
	}
	.cl-b-40 {
		color: rgba($color: #fff, $alpha: .4);
	}
	.cl-b-20 {
		color: rgba($color: #fff, $alpha: .2);
	}
	.cl-w {
		color: #000;
	}
	.cl-w-80 {
		color: rgba($color: #000, $alpha: .8);
	}
	.cl-w-60 {
		color: rgba($color: #000, $alpha: .6);
	}
	.cl-w-40 {
		color: rgba($color: #000, $alpha: .4);
	}
	.cl-w-20 {
		color: rgba($color: #000, $alpha: .2);
	}
	.cl-gray-80 {
		color: #ccc;
	}
	.cl-gray-60 {
		color: #999;
	}
	.cl-gray-40 {
		color: #666;
	}
	.cl-gray-20 {
		color: #333;
	}
	
	.bg-normal {
		background-color: #242424;
	}

	.bg-b {
		background-color: #fff;
	}
	.bg-b-80 {
		background-color: rgba($color: #fff, $alpha: .8);
	}
	.bg-b-60 {
		background-color: rgba($color: #fff, $alpha: .6);
	}
	.bg-b-40 {
		background-color: rgba($color: #fff, $alpha: .4);
	}
	.bg-b-20 {
		background-color: rgba($color: #fff, $alpha: .2);
	}
	.bg-w {
		background-color: #000;
	}
	.bg-w-80 {
		background-color: rgba($color: #000, $alpha: .8);
	}
	.bg-w-60 {
		background-color: rgba($color: #000, $alpha: .6);
	}
	.bg-w-40 {
		background-color: rgba($color: #000, $alpha: .4);
	}
	.bg-w-20 {
		background-color: rgba($color: #000, $alpha: .2);
	}
	.bg-gray-80 {
		background-color: #ccc;
	}
	.bg-gray-60 {
		background-color: #999;
	}
	.bg-gray-40 {
		background-color: #666;
	}
	.bg-gray-20 {
		background-color: #333;
	}
}